body {
	float: center;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

pre {
	overflow-x: scroll;
	white-space: pre-wrap;
}

.main {
	display: table;
	width: 1200px;
	margin: auto;
}

.header {
	text-align: center;
}

.content {
	float: left;
}

.post_container {
	width: 75%;
}

.archive_container {
	width: 25%;

}

.post {
	padding: 80px;
}

.archive {
	padding: 30px;
}
