body {
	float: center;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

pre {
	overflow-x: scroll;
	white-space: pre-wrap;
}

.main {
	display: table;
	width: 800px;
	margin: auto;
}

.header {
	text-align: center;
}

.post {
	padding: 40px;
}

h3 {
	text-align: center;
}
